---
import Base from "@/layouts/base.astro";
---
<Base script="quran">
  <div
    class="container text-center page-not-found d-flex justify-content-center align-items-center flex-column"
  >
    <h1 class="mb-5">Unfortunately, the page does not exist</h1>
    <a href="/" class="btn btn-primary">Back to Homepage</a>
  </div>
</Base>