---
import Base from "@/layouts/base.astro";
---

<Base script="quran">
    <section class="home">
      <div class="container">
        <h1 class="text-center mt-5 p-3">Welcome to the Holy Quran website</h1>

        <p class="title h3 mb-1 mt-5">The Holy Quran</p>
        <p class="text-muted" id="surahName"></p>
        <p
          class="h3 ayah text-center p-3 border ayah-container"
          id="ayah"
          data-v-637fbfae
        ></p>

        <p class="title h3 mb-1">The Azkar</p>
        <p class="text-muted">Fragrance your tongue with the remembrance of God</p>
        <div class="row" data-v-34acdfdc="">
          <div class="col-12 mb-3 col-lg-6" data-v-34acdfdc="">
            <a
              href="/morning"
              class="card p-2 morning"
              data-v-34acdfdc=""
              ><div class="card-body ms-auto" data-v-34acdfdc="">
                <p class="card-title h3" data-v-34acdfdc="">Morning Zikr</p>
              </div></a
            >
          </div>
          <div class="col-12 mb-3 col-lg-6" data-v-34acdfdc="">
            <a
              href="/evening"
              class="card p-2 evening"
              data-v-34acdfdc=""
              ><div class="card-body ms-auto" data-v-34acdfdc="">
                <p class="card-title h3" data-v-34acdfdc="">Evening Zikr</p>
              </div></a
            >
          </div>
        </div>
      </div>
    </section></Base>