---
import Base from "@/layouts/base.astro";
import azkar from "@/data/zikr.json";
import RepetitionBtn from "@/components/zkr-btn.astro";

---
<Base title="Morning Adhkar" >
    <section class="morning">
      <div class="container text-center mt-5">
        <div class="text">
          <h1 class="mb-4">Morning Azkar</h1>
          <p class="h4">There are 31 Zikr</p>
        </div>
        <div id="row">
          {azkar.slice(0, 30+1).map(zikr => (
            <div class="item">
    
              <p class="text-start h5 m-2" style="border-bottom: 1px solid rgba(0,0,0,.125);">
                Repetiton: {zikr.count.toLocaleString()}
              </p>
                    
              <p class="zekr">{zikr.zekr}</p>

                <RepetitionBtn count={+zikr.count} />


              <p class="text-start h5 m-2" style="border-top: 1px solid rgba(0,0,0,.125);">{zikr.reference}</p>

             </div>    
          ))}
        </div>
      </div>
    </section>
  </Base>