<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top text-center">
    <div class="col-12 col-sm">
      
    </div>

    <div class="col-12 col-sm"></div>

    <!-- <div class="col-12 col-sm">
      <h5>Home Pages</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/" class="nav-link p-0 text-ddd">Homepage</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/quran" class="nav-link p-0 text-ddd">The Qur'an</a>
        </li>
      </ul>
    </div> -->

    <div class="col-12 col-sm">
      <h5>The Zikr</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/morning" class="nav-link p-0 text-ddd"
            >Morning Azkar</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/evening" class="nav-link p-0 text-ddd"
            >Evening Azkar</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="/other"
            class="nav-link p-0 text-ddd"
            >Other Azkar & Duas</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/ruqia" class="nav-link p-0 text-ddd">Ruqiya by Shariya</a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-sm">
      <h5>Suggested for You</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a
            href="https://github.com/RayyanNafees/astro-zikr/issues"
            class="nav-link p-0 text-ddd"
            >Report a problem or add an update</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="https://github.com/RayyanNafees/astro-zikr"
            class="nav-link p-0 text-ddd"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </footer>
  <footer class="text-center text-ddd">
        There are no rights to any material used on the site, you can reuse it as you wish
        You want without referring to us.
  </footer>
</div>
