<!-- Start Header -->
<nav class="navbar navbar-expand-lg navbar-dark border-bottom py-4" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/"> The Holy Quran </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quran">The Quran</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Azkar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/morning"
                >Morning Zikr</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/evening">Evening Zikr</a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/other"
                >Other Azkar and Duas</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/ruqia">Ruqiya Law</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button id="modo" class="nav-link btn">Light mode</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Header -->
