---
import Base from "../layouts/base.astro";
---
<Base>
  <section class="morning">
    <div class="container text-center mt-5">
      <div class="text">
        <h1 class="mb-4">Morning Azkar</h1>
        <p class="h4">There are 31 Zikr</p>
      </div>
      <div id="row"></div>
    </div>
  </section>
</Base>