---
export interface Props {
	count: number;
}
const { count = 3 } = Astro.props;
---
<button data-zikr>
  Remaining repetitions:
  <span class="btnCount">{count}</span>
</button>

<script>
  const getCount = (countEl: HTMLSpanElement) => +countEl.innerText
  const setCount = (countEl: HTMLSpanElement, n: number|string) => countEl.innerText = `${n}`
  const btns = document.querySelectorAll('button[data-zikr]') as NodeListOf<HTMLButtonElement>
  for (const btn of btns)
    btn.onclick = () =>
      {
        const countEl = btn.children.item(0) as HTMLSpanElement
        const count = getCount(countEl)
        count > 0  && setCount(countEl, count - 1)
        if (getCount(countEl) <=0){
          btn.classList.add('done')
          btn.innerText = 'Done'
        }
      }
</script>