---
export interface Props {
	title?: string;
}

const { title = "Azkar" } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "bootstrap/dist/css/bootstrap.rtl.min.css";
import "../styles/main.css";
---

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="allah, quran, astro, azkar, zikr, adhkar, islam, muslim, dua, duas, zikrs, morning, evening, momin, surah, surat, sora, ruqia, ruqiyah, ruqia, shariyah, shariyat, sharia, law, ayat, ayah" />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body dir="rtl">
    <Header />

    <slot />

    <Footer />
    <script>
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
      import {changeTheme} from '@/scripts/mode.ts'
      document.addEventListener("astro:after-swap", changeTheme);
    </script>
  </body>
</html>

